.bracket
  position: relative
  display: flex
  flex-direction: row
  padding-bottom: 50px

  .round
    display: flex
    flex-direction: column
    margin: 0 40px 0 10px

  .updated-at
    position: fixed
    bottom: 0
    left: 0
    padding: 5px 10px
    background: #000
    color: #fff
    width: 100%
    box-shadow: 0 -2px 3px rgba(0, 0, 0, 0.25)
    font-family: monospace

.round
  h3
    background-color: #f8f8f8
    padding: 10px
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.25), 0 1px 1px 0 rgba(0, 0, 0, 0.19), 0 2px 1px -1px rgba(0, 0, 0, 0.17)

.match
  display: flex
  flex-direction: column
  margin: 10px 0
  border: 1px solid #CCC
  background-color: #FFF
  font-family: monospace

  .player
    display: flex
    flex-direction: row
    position: relative

    .name, .score
      height: 18px
      line-height: 18px
      padding: 2px 4px

    .name
      width: 140px
      overflow-x: hidden
      text-overflow: ellipsis
      white-space: nowrap

    .score
      width: 24px
      border-left: 1px solid #CCC
      text-align: center

    &.loser
      .score
        background-color: #DDD
        color: #777

    &.winner
      font-weight: bold

      .name
        
      .score
        color: #00993c
        background-color: #dff0d8

    .from
      width: 40px
      height: 40px
      background-image: image-url('nw-se.svg')
      background-repeat: no-repeat
      background-color: transparent
      background-size: 100% 100%
      position: absolute
      left: -45px
      bottom: 11px
      opacity: 0.2
      
    &.from-higher
      .from
        transform: scale(1, 1.7)
        transform-origin: bottom

    & + .player
      border-top: 1px solid #CCC

      .from
        background-image: image-url('sw-ne.svg')
        bottom: initial
        top: 11px
        opacity: 1
      
      &.from-lower
        .from
          transform: scale(1, 1.7)
          transform-origin: top
  
  // first match of round
  &.first
    // first player
    .player:first-child
      .from
        opacity: 1

      &:not(.from-lower)
        .from
          background-image: none
          border-bottom: 1px solid #000
      
      &.from-lower
        .from
          background-image: image-url('sw-ne.svg')
          transform: scale(1, 0.55)
          transform-origin: top
          bottom: initial
          top: 11px
